:root > * {

  /* Primary color shades */
  --md-primary-fg-color: #f96702;
  --md-primary-fg-color--light: #ff8400;
  --md-primary-fg-color--dark: #305868;
  --md-primary-bg-color: hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-text-link-color: hsla(231, 48%, 48%, 1);
  
  /* Accent color shades */
  --md-accent-fg-color: rgb(98, 18, 189);
  --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);

  /* Footer */
  --md-footer-bg-color: #f96702;
  --md-footer-bg-color--dark: #305868;
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
  }

.md-typeset #sko .grid {
    grid-gap: .4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,20rem),1fr));
    margin: 1em 0;
}

.md-typeset .prereq-complete {
  text-align: center;
  font-size: 1.1rem;
  border: .05rem solid var(--md-default-fg-color--lightest);
  border-radius: .1rem;
}

.md-typeset .prereq-complete a {
  padding: 12px 10px;
  background-color: var(--md-primary-fg-color);
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}
.md-typeset .prereq-complete h2 {
  margin: 0.6em;
}
